* {
  margin: 0;
  padding: 0;
}

.size-0-6em {
  font-size: 0.6em !important;
}

.size-0-8em {
  font-size: 0.8em !important;
}

.size-1em {
  font-size: 1em !important;
}

.size-1-2em {
  font-size: 1.2em !important;
}

.size-1-4em {
  font-size: 1.4em !important;
}

.size-1-6em {
  font-size: 1.6em !important;
}

.size-1-8em {
  font-size: 1.8em !important;
}

.size-2em {
  font-size: 2em !important;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.m-w-none {
  max-width: none !important;
}

.m-w-100 {
  max-width: 100% !important;
}

.m-h-none {
  max-height: none !important;
}

.m-h-100 {
  max-height: 100% !important;
}

.pos-absolute {
  position: absolute !important;
}

.pos-relative {
  position: absolute !important;
}

.pos-fixed {
  position: fixed !important;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.remove_style_link {
  color: inherit;
  text-decoration: none !important;
}

.remove_style_link:hover {
  color: inherit;
  text-decoration: none !important;
}

.remove_style_link:active {
  color: inherit;
  text-decoration: none !important;
}

.remove_style_link:visited {
  color: inherit;
  text-decoration: none !important;
}

.remove_style_link:focus {
  color: inherit;
  text-decoration: none !important;
}

.remove_style_button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.remove_style_button:hover, .remove_style_button:focus {
  outline: none !important;
}

.overflow-hidden {
  overflow: hidden;
}

.display-block {
  display: block !important;
}

.display-table {
  display: table !important;
}

.display-table-cell {
  display: table-cell !important;
}

.display-none {
  display: none !important;
}

.before-none:before {
  content: none !important;
}

.after-none:after {
  content: none !important;
}

.outline-none {
  outline: none !important;
}
/*# sourceMappingURL=assetsutilities.css.map */